@charset "UTF-8";

@font-face {
  font-family: "dcrfont";
  src:url("fonts/dcrfont.eot");
  src:url("fonts/dcrfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/dcrfont.woff") format("woff"),
    url("fonts/dcrfont.ttf") format("truetype"),
    url("fonts/dcrfont.svg#dcrfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dcrfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dcrfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "a";
}
