h1,
h2,
h3,
h4
{
    font-weight: normal;
}

body
{
    font-family: 'aleoregular';
    line-height: 1.2;

    margin: 0;
}
#stickyContain{
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #eee;
    padding: 0px;
    margin: auto;
    border-top: 5px solid #eb7f00;
    text-align: center;
}
#navContain{
    padding: 0px;
    margin: 0;
    clear: both;
}
nav
{
    overflow: visible;
    list-style-type: none;
    text-align: center;
    max-width: 650px;
    margin: auto;
}

input{
/*    display: none;*/
}
nav ul
{
    font-size: 16px;
    z-index: 4;
    float: none;
    margin: auto;
    padding: 0;
}

nav ul li
{
    line-height: 2;
    float: left;
    display: inline-block;
    margin: 6px;
    padding: 4px;
    background: #ededed;
}

nav ul ul
{
    position: absolute;
    display: none;
    margin-top: -2px;
    
    background: #eee;
}

nav ul li:hover ul
{
    display: block;
}

nav ul ul li
{
    line-height: 2;
    display: list-item;
    list-style: none;
    float: none;
}

a
{
    padding: 2px;

    transition-duration: .3s;
    transition-property: all;
    text-decoration: none;

    color: #000;
    box-shadow: inset 0 -6px 0 #acf0f2;
}

a:hover
{
    color: #f3ffe2;
    background: #225378;
    box-shadow: inset 0 -6px 0 #225378;
    /*    text-decoration: underline;*/
}

#masthead
{
    z-index: 0;

    display: table-cell;

/*    padding-top: 200px;*/
    /*max-width: 1920px;
    margin: auto;*/
/*    padding-bottom: 160px;*/

    text-align: center;
    vertical-align: middle;
}

h1
{
    font-family: 'aleolight';
    font-size: 1.7em;
    font-weight: normal;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;

    color: #ededed;
}

.orange
{
    padding: .2em;

    color: white;
    background: #225378;
}

.keyPoints .orange
{
    padding: 0;

    color: #eb7f00;
    background: none;
}

section h2
{
    font-family: 'aleolight';
    font-size: 2em;

    max-width: 700px;
    margin-top: .5em;
    margin-bottom: .3em;
    padding: 10px;

    border-bottom: 3px solid #eb7f00;
    background: white;
}

#masthead h2
{
    font-size: 2em;

    margin-top: 9px;
    margin-bottom: 0;

    color: white;
}

#masthead h1,
#masthead h2
{
    opacity: .9;
}

.keyPoints
{
    opacity: .87;
}

.cta h3,
.cta p
{
    display: inline;

    margin: 0;
    padding: 5px;
}

.cta
{
    padding: 10px;
    text-align: center;
    background: #eee;
}

.keyPoints ul
{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 30px;

    list-style: none;

    text-align: center;
    /*    vertical-align: top;*/

    color: black;
}

.keyPoints li
{
    display: inline-block;

    width: 190px;
    height: 170px;
    margin: 22px;
    margin-top: 5px;
    /*    background: #efefef;*/
    padding: 20px;
    padding-top: 0;

    vertical-align: top;

    border-top: 3px solid #eb7f00;
    border-bottom: 3px solid #eb7f00;
    /*    border-radius: 10px;*/
}

.keyPoints div
{
    max-width: 740px;
    margin: auto;
    margin-top: 12px;
    padding: 15px;
}


#mastheadWrap
{
    display: table;

    width: 100%;
    min-height: 60vh;

    background: url('pics/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

@media screen and (max-width: 800px)
{
    h1
    {
        font-size: 2em;
    }
    #classList
    {
        float: none;

        width: 100%;
        padding-left: 0;
    }
    nav ul li
    {
        line-height: 1;

        margin: 5px;
    }
    #logo
    {
        float: right;
    }
    p
    {
        padding: 15px;
    }
    #masthead .cta
    {
        font-size: .9em;
        max-width: 600px;
    }
    .keyPoints
    {
        opacity: 1;
    }
    #masthead h1
    {
        margin-bottom: 15px;
    }
    #masthead h2
    {
        margin-top: 10px;
    }
    nav ul ul
    {
        display: block;

        margin-left: 10px;
    }
    nav ul ul li
    {
        line-height: 1;
    }
}

.clearfix
{display: hidden;clear: both; height: 1px;opacity: 0;}

.icon
{
    position: relative;
    top: -8px;

    height: 50px;
    margin: auto;
    padding: 0;

    text-align: center;

    background: none !important;
}

.icon:before
{
    font-size: 50px;

    margin: 0 0 10px 0;
    padding: 0;

    color: #eb7f00;
}
[type="checkbox"]:checked ~ nav ul {
    color: green;
    background: red;
}