
.itemLink {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    margin: 0px;
    background: #ddd;
    font-family: aleolight;
    text-decoration: none;
    color: #ed7600;
}
.itemLink:hover{
    color: #ddd;
    background: #ed7600;
    text-decoration: underline;
}

li {
    padding: 0px;
    margin: 2px;
    
}

ul {
    list-style: none;
    padding: 2px;
    margin: 2px;
}

td {
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    border: solid 1px #CCC;
    width: 14vw;
}

th {
    text-align: center;
    border: solid 1px #CCC;
    font-family: aleo;
    color: #fff;
    margin: 0px;
    font-size: 1.3em;
    padding: 10px;
    
}

#headerRow {
    border: none;
    background: #ed7600;
    margin: 0px;
    padding: 0px;
    
}

div {
    background: #ed7600;
    margin: 3px;
    padding: 20px;
}
h1{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: aleobold;
}

.faqhide {
    max-height: 0px;
    opacity: 0;
}
